.aboutus{
  text-align: center;
  color: #0c0c0c;
  width: 80%;
  margin: 40px auto;
  &__container{
    text-align: center;
    font-size: 22px;
  }
  &-link{
    color: rgb(141,78,206);
    border: 3px solid rgb(141,78,206);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
  }
}