.careers{
    display:flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 200px auto;
    @include respond(phone){
      flex-direction: column;
    }
  &__info{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #0c0c0c;
    padding-right: 10px;
  }
  &__header{
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  &__description{
    font-size: 18px;
    padding: 40px 60px;
  }
  &__apply{
    background: rgb(141,78,206);
    margin-top: 20px;
    padding: 30px 0;
    width: 100%;
    z-index: 1;
    border: 10px solid #f0f0f0;
    transform: translatex(100px);
    @include respond(tablet-portrait){
      transform: none;
      border: none;
    }
  }
  &__cta-header{
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 40px;
  }
  &__cta-body{
    color: #fff;
    margin: 0 40px;
  }
  &__emailbox{
    display: inline-block;
    max-width: 70%;
    height: 3rem;
    padding: 10px;
    margin: 20px;
    font-size: 1.4rem; 
    color: rgb(141,78,206); 
    border:none;
    @include respond(phone){
      width: 90%;
      max-width: 90%;
    }
    &:active, &:focus{outline: none;}
  }
  &__cta-submit{
    display: inline-block;
    color: #Fff;
    font-size: 18px;
    background: $color__secondary--dark;
    padding: 12px 20px;
    outline: none;
    border:none;
    box-shadow: 2px 5px 10px rgba(0,0,0, .4);
    margin-left: 20px;
    transform: translatey(-5px);
    transition: transform .2s, box-shadow .2s;
    @include respond(phone){
      width: 90%;
    }
    &:hover{
      transform: translateY(-8px);
      box-shadow: 3px 8px 15px rgba(0,0,0,.3);
    }
    &:active,
    &focus{
      transform: translateY(-7px);
      box-shadow: 1px 2px 5px rgba(0,0,0, .5);
    }
  }
  &__image{
    @include respond(tablet-portrait){
      display: none;
    }
  }
} 
